<div class="wiki-container fade-in">
  <button class="btn-volver glass-panel" (click)="volver()">← Volver a Generaciones</button>

  @if (loading()) {
    <div class="loader-super">
      <div class="spinner"></div>
      <p>Cargando información cifrada de la Pokédex...</p>
    </div>
  }

  @if (error()) {
    <div class="glass-panel error-card">Error recuperando la información del Servidor BFF.</div>
  }

  @if (pokemon() && !loading()) {
    <div class="hero-header glass-panel">
      <div class="header-titles">
        <span class="gen-badge">{{ pokemon()!.generacion }}</span>
        <h1>{{ pokemon()!.nombre }}</h1>
        <p class="flavor-text">"{{ pokemon()!.descripcion }}"</p>
      </div>
      <div class="header-id">#{{ pokemon()!.id.toString().padStart(4, '0') }}</div>
    </div>

    <div class="layout-grid">
      <!-- Left: Image & Types -->
      <section class="left-panel glass-panel">
        <div class="glow-effect" [attr.data-type]="pokemon()!.tiposOriginales[0]"></div>
        <img [src]="pokemon()!.imagen" alt="{{ pokemon()!.nombre }}" class="main-image">
        
        <div class="types-container">
          @for (tipo of pokemon()!.tiposOriginales; track $index) {
             <span class="type-badge" [attr.data-type]="tipo">{{ pokemon()!.tiposEspanol[$index] | uppercase }}</span>
          }
        </div>

        <div class="physical-stats">
          <div><br>📏 {{ pokemon()!.altura }} m</div>
          <div><br>⚖️ {{ pokemon()!.peso }} kg</div>
        </div>
      </section>

      <!-- Center: Battle Stats Progress Bars -->
      <section class="center-panel glass-panel">
        <h2>Estadísticas de Combate</h2>
        <div class="stats-list">
          @for (key of objectKeys(pokemon()!.estadisticasBase); track key) {
            <div class="stat-row">
              <span class="stat-name">{{ key }}</span>
              <span class="stat-num">{{ pokemon()!.estadisticasBase[key] }}</span>
              <div class="progress-bg">
                <div class="progress-bar" 
                     [style.width.%]="(pokemon()!.estadisticasBase[key] / 255) * 100"
                     [attr.data-type]="pokemon()!.tiposOriginales[0]">
                </div>
              </div>
            </div>
          }
        </div>
      </section>

      <!-- Right: Lore and Evolutions -->
      <section class="right-panel">
        <!-- Habilidades -->
        <div class="info-block glass-panel">
          <h3>🌟 Habilidades</h3>
          <ul>
            @for (hab of pokemon()!.habilidades; track hab) { <li>{{ hab }}</li> }
          </ul>
        </div>

        <!-- Crianza -->
        <div class="info-block glass-panel">
          <h3>🥚 Grupos Huevo</h3>
          <div class="tag-list">
            @for (huevo of pokemon()!.gruposHuevo; track huevo) { <span class="tag">{{ huevo }}</span> }
          </div>
        </div>

        <!-- Evolucion -->
        <div class="info-block glass-panel">
          <h3>🧬 Línea Evolutiva</h3>
          
          @if (pokemon()!.preEvolucion) {
            <div class="evo-row"><span class="label">Evoluciona de:</span> <b>{{ pokemon()!.preEvolucion }}</b></div>
          }
          
          @if (pokemon()!.evolucionesFuturas.length > 0) {
            <div class="evo-row"><span class="label">Puede evolucionar a:</span></div>
            <ul class="evo-list">
              @for (evo of pokemon()!.evolucionesFuturas; track evo) {
                <li class="tag clickable" (click)="cargarPokemon(evo)">{{ evo }} ↗</li>
              }
            </ul>
          } @else {
            <div class="evo-row"><span class="label">Forma Final.</span></div>
          }
        </div>
      </section>
    </div>
  }
</div>
